<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skymateUsers</title>
</head>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    h1 {
        margin-bottom: 10px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    input[type="search"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px;
    }

    input[type="submit"] {
        padding: 5px 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #d4d4d4;
    }
</style>

<body>
    <!-- ADMIN can search a customer on the basis of  customer id, first name, lastname, email -->
    <h1>SEARCH USERS HERE</h1>
    <form id="searchForm">
        <input type="search" name="customerid" placeholder="Search CUSTOMER ID">
        <input type="search" name="firstname" placeholder="FIRST NAME">
        <input type="search" name="lastname" placeholder="LAST NAME">
        <input type="search" name="email" placeholder="EMAIL">
        <input type="submit" value="Search">
    </form>
    <br>
    <!-- DISPLAY ALL users  -->
    <h1>USER LIST</h1>
    <table id="userTable" border="1" width="100%">
        <!-- Table header -->
        <tr>
            <th>CUSTOMER ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>BOOKED FLIGHT ID</th>
            <th>TICKET ID</th>
            <th>CLASS</th>
            <th>PASSENGER NAME</th>
            <th>PASSENGER CONTACT NUMBER</th>
        </tr>
        <!-- Table body -->
        <% for (var i = 0; i < users.length; i++) { %>
        <tr>
            <td><%- users[i].customer_id %></td>
            <td><%- users[i].first_name %></td>
            <td><%- users[i].last_name %></td>
            <td><%- users[i].email %></td>
            <% if (users[i].flightID) { %>
                <td><%- users[i].flightID %></td>
            <% } else { %>
                <td>No Booking</td>
            <% } %>
            <% if (users[i].ticket_id) { %>
                <td><%- users[i].ticket_id %></td>
            <% } else { %>
                <td>No Booking</td>
            <% } %>
            <td><%- users[i].class %></td>
            <td><%- users[i].passengerName %></td>
            <td><%- users[i].contact_number %></td>
        </tr>
        <% } %>
    </table>
</body>

</html>